# Игнорировать каталоги сборки
install/
build/

# Игнорировать временные файлы
*.o
*.so
*.a
*.log

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/

# Игнорировать файлы, связанные с системой контроля версий
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# Игнорировать файлы тестов
tests/